#layout-header nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background: #2196f3;
  color: white;
  box-shadow: 1px 1px 1px 1px lightgrey; }
  #layout-header nav .mini-logo p {
    margin: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    transform-style: preserve-3d;
    transform: rotateY(45deg);
    transition: transform 0.5s ease; }
    #layout-header nav .mini-logo p:hover {
      transform: rotateY(0); }
  #layout-header nav .auth-links ul {
    margin: 5% 5px;
    display: flex;
    list-style: none; }
    #layout-header nav .auth-links ul li {
      margin-right: 10px;
      transform-style: preserve-3d;
      transform: rotateY(45deg);
      transition: transform 0.5s ease; }
      #layout-header nav .auth-links ul li:hover {
        transform: rotateY(0); }
  #layout-header nav a {
    color: white;
    text-decoration: none; }

@media screen and (max-width: 600px) {
  #layout-header nav {
    flex-direction: column; }
    #layout-header nav .auth-links ul {
      margin: 0;
      padding: 5px;
      flex-direction: column; }
      #layout-header nav .auth-links ul li {
        margin: 5px 0; } }
