body {
  margin: 0;
  background-image: linear-gradient(#00578d, #0a8686); }

.main-div-signup {
  display: flex;
  width: 30%;
  margin: auto;
  margin-top: 15px;
  height: auto;
  text-align: left;
  padding: 0% 2% 2% 2%;
  font-size: 18px; }
  .main-div-signup h1 {
    padding-right: 5px;
    color: white; }
  .main-div-signup input {
    width: 100%;
    height: 20px;
    margin: 1px 0px 10px 0px;
    padding: 5px;
    box-sizing: border-box; }
  .main-div-signup button {
    background-color: black;
    width: 100%;
    color: white;
    height: 30px; }
    .main-div-signup button:hover {
      color: cyan; }

.google {
  margin-top: 20px; }
  .google span {
    margin-bottom: 10px;
    display: block; }
  .google a {
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline; }
    .google a img {
      height: 40px;
      width: 40px;
      margin-right: 10px;
      border: 2px solid #3498db; }
